<!-- ── FOOTER ── -->
<footer>
  <div class="footer-inner">
    <div class="footer-bottom">
      <p>&copy; {{ 'now' | date: "%Y" }} Bernhard Frank Cloud Engineering. All rights reserved.</p>
      <div class="footer-legal">
        <a href="{{ 'https://www.bernhardfrank.cloud/impressum.html' }}" target="_self" rel="noopener noreferrer">Imprint</a>
        <a href="{{ 'https://www.bernhardfrank.cloud/datenschutz.html' }}" target="_self" rel="noopener noreferrer">Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>
